@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(255, 255, 255) 0%, rgb(215, 223, 252) 84%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: Rubik, sans-serif;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    border-bottom: 3px solid transparent;
    transition: all 0.5s ease-in;
}

.navbar a:hover {
    border-bottom: 3px solid black;
}

.navbar li {
    list-style: none;
    display: inline;
    padding: 0px 15px;
    transition: 0.4s;
}

.left_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_nav img {
    cursor: pointer;
}

.right_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    font-size: 35px;
    cursor: pointer;
    /* display: none; */
}

.navbar i:hover {
    color: aliceblue;
}

.intro_container {
    display: flex;
    padding: 100px 15%;
    justify-content: space-between;
    font-family: Rubik, sans-serif;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.intro h2 {
    font-size: 30px;
}

.intro h1 {
    font-size: 100px;
}

.intro p {
    font-size: 30px;
    color: black;
    padding: 10px 0px;
}

.socials {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

.socials a {
    padding: 0px 5px;
    border-bottom: 3px solid transparent;
}

.socials a:hover {
    transition: all 0.5s ease-in;
    border-bottom: 3px solid black;
}

#arrowdown {
    font-size: 60px;
    margin: auto 50%;
    cursor: pointer;
}

.arrow i:hover {
    color: aliceblue;
    transition: 0.4s;
}





