html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.landing_page {
    font-family: Rubik, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing_page .name {
    color: white;
    font-size: 100px;
    font-weight: 650;
}

.landing_video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left:0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: Rubik, sans-serif;
    position: absolute;
    top: 0;
    width: 90%;
}

.navbar a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: all 0.5s ease-in;
}

.navbar .left_nav a {
    transition: all 0.25s ease-in;
}

.navbar .left_nav a:hover {
    color: #e1c7e7;
}

.navbar .right_nav a {
    border-bottom: 3px solid transparent;
}

.navbar .right_nav a:hover {
    border-bottom: 3px solid white;
}

.navbar li {
    list-style: none;
    display: inline;
    padding: 0px 15px;
}

.left_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_nav img {
    cursor: pointer;
}

.right_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar i{
    font-size: 35px;
    cursor: pointer;
    display: none;
    color: white;
    transition: all 0.5s ease-in;
}

.navbar i:hover {
    color: #cca0d7;
}

.menu_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vh;
    height: 100vh;
    background-color: #acd9ec;
    z-index: 1001;
    display: none;
}

.menu_nav li{
    list-style: none;
    padding: 5px;
    font-size: 35px;
    transition: all 0.3s ease-in;
}

.menu_nav li:hover{
    color: #cca0d7;
}

.menu_nav i{
    font-size: 60px;
    cursor: pointer;
}

.arrowdown i {
    font-size: 60px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in;
    position: absolute;
    bottom: 15%;
}

.arrowdown i:hover {
    color: #e1c7e7;
    transform: translateY(-3px);
}

.arrowup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.arrowup i {
    font-size: 60px;
    cursor: pointer;
    color: black;
    transition: color 0.5s ease-in;
}

.arrowup i:hover {
    color: #cca0d7;
}

.about_section {
    font-family: Rubik, sans-serif;
    width: 100%;
    height: 100%;
    background: white
}

.about_title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 30px 10%;
}

.about_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 7% 0px 13%;
}

.about_writing {
    font-size: 26px;
    transition: all ease 1.5s;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 0px 13% 0px 13% 
}

.socials .links a {
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in;
    font-size: 62px;
}

.socials .links a:hover {
    color: #e1c7e7;
}

.computer_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer_image img {
    height: 300px;
    width: auto;
}

.projects {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #acd9ec;
    background-image: linear-gradient(180deg, #acd9ec 0%, #5c8acd 100%);        
    font-family: Rubik, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_title {
    color: black;
    font-size: 50px;
    padding: 30px 10%;
}

.projects_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 55px 5%;
    max-width: 1321px;
}

.projects_container h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects_container p {
    line-height: 1.8em;
}

.project {
    max-width: 549px; 
}

.project .image {
    height: 300px;
    width: 549px;
}

.project .frameworks {
    color: #1a1812;
    font-weight: 500;
}

.project i {
    font-size: 40px;
    margin-bottom: 65px;
    transition: color 0.25s ease-in-out;
}

.project i:hover {
    color: #cca0d7;
}

.project .end {
    margin-bottom: 65px;
}

.skills_page {
    min-height: 100vh;
    font-family: Rubik, sans-serif;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.skills_title, .contact_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: 30px 10%;
    color: white;
}

.skills_container {
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0% 15%;
}

.skills_container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.skills_container .card i {
    margin-right: 15px;
    font-size: 25px
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 15%;
}

.contact_container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;  
    border-radius: 10px;
}

.contact_container .card i {
    margin-right: 10px;
    font-size: 25px
}

hr {
    display: block;
    border: 0;
    border-top: 3px solid white;
    margin: 2% 15% 0.5%;
  }

.copyright_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 15% 2%;
    font-weight: 500;
    color: white;
}

.copyright_container .left_copy text {
    font-size: 20px;
}

.copyright_container i {
    font-size: 25px;
}

.copyright_container .copy {
    font-size: 5px;
}

.ending_video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
}

@media (max-width: 1399px) {
    .projects_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 55px 5%;
        max-width: 1321px;
    }

    .project {
        margin-bottom: 65px;
    }

    .project i {
        margin-bottom: 0;
    }
    .project .end {
        margin-bottom: 0px;
    }
}

@media (max-width: 1391px) {
    .about_writing {
        font-size: 23px;
    }

    .computer_image img {
        height: 200px;
        width: auto;
    }

    .socials .links a {
        font-size: 50px;
    }
}

@media (max-width: 1192px) {
    .about_writing {
        font-size: 20px;
        transition: all ease 1.5s;
    }

    .computer_image img {
        height: 150px;
        width: auto;
    }

    .socials .links a {
        font-size: 40px;
    }
}

@media (max-width: 942px) {
    #menu {
        display: block;
    }

    .navbar {
        width: 100%;
    }

    .right_nav {
        display: none;
    }

    .about_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 55px 7% 0% 13%;
    }

    .about_writing {
        font-size: 18px;
        transition: all ease 1.5s;
    }

    .computer_image img {
        display: none;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        padding: 0px 13% 0px 13% 
    }
}

@media (max-width: 777px) {
    .project .image {
        height: 275px;
        width: 500px;
    }

    .project {
        max-width: 500px; 
    }
}


@media (max-width: 627px) {
    .about_container {
        justify-content: center;
        padding: 20px 7% 0% 13%;
    }

    .about_writing {
        font-size: 16px;
        transition: all ease 1.5s;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        padding: 0px 13% 0px 13% 
    }

    .project .image {
        height: 230px;
        width: 400px;
    }

    .project {
        max-width: 400px; 
    }
}

@media (max-width: 555px) {
    .project .image {
        height: 175px;
        width: 300px;
    }

    .project {
        max-width: 300px; 
    }
}

@media (max-width: 384px) {
    .project .image {
        height: 120px;
        width: 250px;
    }

    .project {
        max-width: 200px; 
    }   

    .contact_container .card i {
        font-size: 15px
    }
}

/* .landing_page{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(255, 255, 255) 0%, rgb(215, 223, 252) 84%);
} */


/* .intro_container {
    display: flex;
    padding: 100px 15%;
    justify-content: space-between;
    font-family: Rubik, sans-serif;
} */

/* .intro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.intro p {
    font-size: 30px;
    color: black;
    padding: 10px 0px;
} */
