html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: 400;
    /* background-color: seagreen; */
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    padding: 0px 15px;
}

.left_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_nav img {
    cursor: pointer;
}

.right_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

